* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(190, 190, 255);
}

#listas-conteiner {
    background-color: #616161;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

@media (max-width: 1024px) {
    .listas-conteiner {
        width: 100%;
    }
}

.lista-card {
    background-color: #020202;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: cubic-bezier(0.68, -0.95, 0.265, 1.55);
    transition-duration: 1000ms;
    display: block;
}

.titulo {
    border: none;
    outline: 0;
    font-size: 22px;
    padding: 0px;
    height: 50px;
    width: 100%;
    text-indent: 10px;
}

.conteudo {
    border: none;
    outline: 0;
    font-size: 22px;
    width: 94%;
    min-width: 94%;
    min-height: 400px;
    padding: 3%;
    text-align: left;
}

#botao {
    background-color: #1c1c1c;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    position: fixed;
    top: 80%;
    left: 80%;
}

#botao:hover {
    width: 45px;
    background-color: #a7a7a7;
}

.nova {
    background-color: #fff;
    margin: 0 10px 10px 0;
    border-radius: 4px;
    box-shadow: 1px 1px 5px;
    display: block;
    padding: 10px;
    flex-wrap: wrap;
    max-width: 400px;
    max-height: 200px;
}

.nova h1 {
    text-align: center;
    margin-bottom: 20px;
}

.editarea {
    background: #616161;
    justify-content: center;
    align-content: center;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.botaoedit {
    background-color: #1c1c1c;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    width: 20px;
    margin: 10px;
    flex-wrap: wrap;
}

.botaoedit:hover {
    background-color: #a7a7a7;
    width: 15px;
}